html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

main{
    height: 100%;
    width: 100%;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
}

.foreground{
    width: 60%;
    height: 60%;
    border-radius: 4em;
    backdrop-filter: blur(10px) brightness(0.8);
    display: grid;
    place-items: center;
}


#headIcon{
    position: relative;
    top: 10%;
    height: 20vh;
    border: 5px solid white;
    border-radius: 50%;
}

#headLine{
    margin: 5px;
    color: white;
    font-size: 5vh;
    text-align: center;
}

#bilibiliHref{
    position: relative;
    top: -30%;
}

#bilibiliLogo{
    height: 5vh;
}