html, body{
    margin: 0;

    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;

    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    place-items: center;
    overflow: auto;
}

.foreground{
    margin: 2vh;

    max-width: 90vw;
    min-width: 50vw;

    border-radius: 4em;
    backdrop-filter: blur(10px) brightness(0.8);

    place-items: center;
}

.bilibiliVideo{
    display: flex;
    flex-direction: column;

    padding-bottom: 5vh;
}

iframe{
    width: 40vw;
    height: 25.5vw;

    border: none;
    border-radius: 1em;
}

.headIcon{
    margin-top: 3vh;
    margin-bottom: 2vh;

    height: 20vh;

    border: 5px solid white;
    border-radius: 50%;
}

.headLine{
    margin: 5px;

    color: white;
    font-size: 5vh;
    text-align: center;
}

.bilibiliHref{
    display: block;

    padding-top: 1vh;
    padding-bottom: 3vh;
}

.bilibiliLogo{
    height: 5vh;
}