html{
    height: 100%;
    width: 100%;

    background-image: url("../image/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    user-select: none;
}

body{
    margin: 0;

    height: 100%;
    width: 100%;

    display: grid;
    place-items: center;
}

.foreground{
    padding: 50px;

    border-radius: 2em;
    backdrop-filter: blur(10px) brightness(0.8);

    place-items: center;
}

.toolbar{
    width: 100%;

    display: flex;
    justify-content: space-around;

    color: white;
    font-size: 20px;
    font-weight: bold;
}

#map{
    margin-top: 15px;

    border: 3px solid white;
}